<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="title" content="http://maindelhimatka.com/">
    <meta name="description"
        content="Delhi Matka  Results Satta Bazar satta matka results Satta Matka Chart matka satta result Satta Results kalyan matka Satta King Matka Jeeto chennai matka badshah matka">
    <meta name="keywords" content="Delhi, delhi, satta, matka, results, matka results, satta results">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="Hindi">
    <meta name="revisit-after" content="1 days">

    <meta name="google-site-verification" content="c3Azb9KN85gDtE8nGQda2l1O_5lMcNRVOUyZMPA13xQ" />
    <title>MAINDELHI</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }

        body {
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            background-color: rgb(154, 209, 237);
            padding: 0px;

        }

        h3 {
            font-weight: 800;
            font-size: 23px;
            font-family: initial;
        }

        label {
            font-weight: 700;
            font-size: 40px;
            font-weight: 800;
        }

        .time {
            font-size: 23px;
            font-weight: 800;
        }

        .wrapper {
            margin-left: 11%;
            margin-right: 11%;
            background-color: whitesmoke;
            /* width: 70%; */
        }

        @media only screen and (max-width: 700px) {
            .wrapper {
                margin-left: 0%;
                margin-right: 0%;
                background-color: whitesmoke;
                width: 100%;
            }
        }
    </style>
</head>

<body>

    <div class="wrapper" style="font-family: initial;">
        <div style="background-color: #f4511e;">
            <h1 style="text-align: center; font-weight: bold; color: whitesmoke ;">MAINDELHISATTA.COM</h1>
            <p style="text-align: center; font-size: 100%; color: whitesmoke; ">सबसे तेज ➣ सबसे आगे</p>
            <div style="background-color: black;">
                <marquee style="color: aliceblue;"> Delhi सट्टा मटका की <b> Original </b> वेबसाईट </marquee>
            </div>
        </div>
        <div style="border: aqua;">
            <!-- For Iamge  -->
            <p style="color: #f4511e; text-align: center;">विक्ली धमाका ऑफर </p>
           <% if (result_img && result_img.length > 0) { %>
    <% const lastIndex = result_img.length - 1; %>
    <img width="100%" height="600" src="<%= result_img[lastIndex].img_name %>" alt="Banner Image">
<% } else { %>
    
<% } %>
        </div>
        <div style="background-color: #efda67;text-align: center;">
            <h3>MAIN DELHI DAY</h3>
            <label for="">
                <%=demo_date[0]%>
            </label>
            <p class="time">01:30 PM | 03:00 PM</p>

        </div>
        <div style="background-color:#b2d558 ; text-align: center;">
            <h3>MAIN DELHI NIGHT</h3>
            <label>
                <%=demo_date[2]%>
            </label>

            <p class="time">08:50 PM | 10:30 PM</p>
        </div>
        <div style="background-color: #dca8d5 ; text-align: center;">
            <h3>MAIN DELHI MORNING</h3>
            <label>
                <%=demo_date[1]%>
            </label>
            <p class="time">11:30 AM | 12:30 PM</p>
        </div>
        <div style="background-color: #98d4ba;text-align: center;">
            <h3>KALYAN</h3>
            <label>
                <%=demo_date[3]%>
            </label>
            <p class="time">04:00 PM | 06:00 PM</p>
        </div>
        <div style="background-color: #dca8d5;text-align: center;">

            <h3>मेन बाजार</h3>
            <label>
                <%=demo_date[4]%>
            </label>
            <p class="time">09:35 PM | 12:05 AM</p>
        </div>
        <!-- <div class="borderboxblue">
                    <div class="s8">
                        <h2>चक्री बाजार</h2>
                        <h1></h1>
                        <h2>02:00 PM</h2>
                    </div>

                </div> -->

        <div style="background-color: #efda67;text-align: center;">

            <h3>MAIN DELHI DAY TEER</h3>

            <h4 class="time">DF &nbsp; DS</h4>
            <label>
                <%=demo_date[5]%>
            </label>
            <p class="time">03:45 PM | 05:45 PM</p>
        </div>
        <div style="background-color: #b2d558;text-align: center;">

            <h3>MAIN DELHI NIGHT TEER</h3>
            <h4 class="time">DF &nbsp; DS</h4>
            <label>
                <%=night_teer%>
            </label>

            <p class="time">08:50 PM | 10:50 PM</p>


        </div>

        <div style="text-align: center;">
            <div class="m15"
                style="border: 1px solid grey; margin-top: 20px; margin-left: 15px; margin-right: 15px; margin-bottom: 15px; background-color:#f6f7fb;">
                <div class="s9">
                    <h3>MATKA PANEL CHART RECORD ZONE</h3>
                </div>
                <div class="s10">

                    <a href="/day">
                        <p>MAIN DELHI DAY PANEL CHART </p>
                    </a>
                    <a href="/night">
                        <p>MAIN DELHI NIGHT PANEL CHART </p>
                    </a>
                    <a href="/morning">
                        <p>MAIN DELHI MORNING PANEL CHART </p>
                    </a>
                    <a href="/kalyan">
                        <p>KALYAN PANEL CHART</p>
                    </a>
                    <a href="/bajar">
                        <p>मेन बाजार PANEL CHART </p>
                    </a>
                    <!-- <a href="/chakri">
                    <p>चक्री बाजार PANEL CHART </p>
                </a> -->
                    <a href="/teer_panel">
                        <p>MAIN DELHI TEER PANEL CHART </p>
                    </a>

                </div>
            </div>
        </div>

        <div style="color: red; text-align: center; border: 1px solid grey; background-color: #f6f7fb;">
            <h3>DISCLAIMER</h3>
            <p style="font-size: 1.4vw">
                Viewing This WebSite Is On Your Own Risk. All The information Shown Here
                Is Sponsored And We Warn You That Satta Matka Gambling in Your Country
                May be Banned or Illegal.. We Are Not Responsible For Any Issues or
                Scam..We Respect All Country Rules/Laws.. If You Not Agree With Our Site
                Disclaimer.. Please Quit Our Site Right Now.
            </p>
        </div>



    </div>
    </div>
    <br>
    <div style="background-color: black; text-align: center;">
        <span style="color: whitesmoke;"> Copyright</span>
        <a style="color: yellow;" href="#">@maindelhimataka.com</a>
    </div>



</body>
<script>
    $(window).resize(function () {
        if ($(window).width() < 800); {
            $('.wrapper').removeClass('wrapper');
        }
    });
</script>
<!-- 
<script>
    $(document).ready(function () {
        function myFunction(x) {
            if (x.matches) { // If media query matches
                document.body.style.backgroundColor = "yellow";
            } else {
                document.body.style.backgroundColor = "pink";
            }
        }

        var x = window.matchMedia("(max-width: 700px)")
        myFunction(x) // Call listener function at run time
        x.addListener(myFunction) // Attach listener function on state changes
    })
</script> -->

</html>