<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="title" content="http://maindelhimatka.com/">
    <meta name="description"
        content="Delhi Matka  Results Satta Bazar satta matka results Satta Matka Chart matka satta result Satta Results kalyan matka Satta King Matka Jeeto chennai matka badshah matka">
    <meta name="keywords" content="Delhi, delhi, satta, matka, results, matka results, satta results">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="Hindi">
    <meta name="revisit-after" content="1 days">

    <meta name="google-site-verification" content="c3Azb9KN85gDtE8nGQda2l1O_5lMcNRVOUyZMPA13xQ" />
    <title>MAIN DELHI SATTA MATAKA</title>

</head>
<style>
    .hidden {
        text-align: center;
        background-color: #f4511e;
        color: white;
        font-size: 20px;
        height: 100px;
        margin-top: -28px;
        width: 90%;
        margin-left: 55px;
    }

    .hidden:hover {
        text-decoration: underline;
        cursor: pointer;
    }

    .s1 {
        background-color: black;
        color: white;
        height: 40%;
        margin-top: -27px;

    }

    .s2 {
        border: 1px solid black;
        margin-top: 18px;
        width: 90%;
        margin-left: 55px;
        height: 280px;
        background-color: white;
    }

    .bazaroffer {
        text-align: center;
        color: red;
        border: 1px solid blue;
        margin-top: 0px;
        width: 90%;
        margin-left: 55px;
        border-radius: 5px;
        background-color: white;

    }

    .bazarofferimg {
        width: 92%;
        margin-top: 15px;

    }

    .s3 {
        text-align: center;
        background-color: #efda67;

        margin: 5%;
        width: 88%;
        /* margin-left: -1px; */
        padding: 1%;

        /* margin-left: 44px; */
    }

    .s4 {
        text-align: center;
        background-color: #b2d558;
        padding: 1%;
        margin: 5%;
        width: 88%;
        /* margin-left: -1px; */
    }

    .s5 {
        text-align: center;
        background-color: #dca8d5;
        padding: 1%;
        margin: 5%;
        width: 88%;
        /* margin-left: -1px; */
    }

    .s6 {
        text-align: center;
        background-color: #98d4ba;
        padding: 1%;
        margin: 5%;
        width: 88%;
        /* margin-left: -1px; */
    }

    .s7 {
        text-align: center;
        background-color: #dca8d5;
        padding: 1%;
        margin: 5%;
        width: 88%;
        /* margin-left: -1px; */
    }

    .s8 {
        text-align: center;
        background-color: #efda67;
        padding: 1%;
        margin: 5%;
        width: 88%;
        margin-top: 1%;
        margin-bottom: 1%;
        /* margin-left: -1px; */
    }

    .s9 {
        text-align: center;
        font-weight: 500;
    }

    .s10>a {
        color: skyblue;
        text-decoration: none;
    }

    .s10>a :hover {
        color: #337ab7;
        text-decoration: underline !important;

    }

    .s11 {
        background-color: white;
        border: 1px solid #337ab7;
        font-size: larger;
        cursor: pointer;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        line-height: 1.42857143;
        color: #333333;
        box-sizing: border-box;
        font-size: 22px;
        text-align: center;
        width: 90%;
        margin-left: 55px;
        border-radius: 5px;
    }

    .s12 {
        text-align: center;
        color: red;
        border: 1px solid blue;
        display: flex;
        padding: 1%;
        margin: 5%;
        margin-right: 10%;
        width: 88%;
        margin-top: 25px;
        background-color: white;
        border-radius: 5px;
        display: none;

    }

    .s13 {
        text-align: center;
        color: #ff0000;
        border: 1px solid #337ab7;
        background-color: #f6f7fb;
        padding: 1%;
        margin: 2%;
        width: 88%;
        font-style: normal;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 400;
        font-size: larger;
        padding: 1%;
        margin-left: 58px;
        margin-top: -40px;
        border-radius: 5px;


    }

    .copyright {
        width: 89%;
        text-align: center;
        background-color: #292f38;
        color: white;
        /* font-size: larger; */
        padding: 0.5%;
        margin-left: 55px;
        /* width: 1128px; */
        width: 89%;
        height: 11%;
        font-size: 14px;
        margin-top: -27px;

    }

    .s13>p {
        margin: 0%;
        padding: 0%;
    }

    .s13>h3 {
        margin: 0%;
        padding: 0%;
    }

    @media screen and (max-width: 500px) {

        .s13 {
            width: 50%;
        }
    }

    /* .blueboxbottom {
      width: 100%;
      height: 22%;
      background-color: skyblue;
      position: absolute;
    } */
</style>

<body>
    <div class="wrapper" style="background-color: skyblue; width: auto;">

        <div class="wrapper1">
            <div class="body">
                <div class="hidden">
                    <h1>DelhiSattaMatka.com</h1>
                    <p style="margin-top: -16px; padding: 0px 0px 10px;">सबसे तेज ➣ सबसे आगे</p>
                    <div class="s1">
                        <h4 style="z-index: -2; margin-top: 10px;border-color:1px solid  #337ab7;">
                            <marquee style="padding: 3px;">MAIN DELHI सट्टा मटका की <b> Original </b> वेबसाईट </marquee>
                        </h4>
                    </div>
                </div>


            </div>
           
            <div class="bazaroffer" style="display: none;">
                <p>विक्ली धमाका ऑफर</p>
                <!-- <img class="bazarofferimg" src="/pictures/" /> -->
            </div>
            <div class="m2" style="border: 1px solid white; width: 90%; margin-left: 55px; background-color: white;">
                <div class="s3">
                    <h2>MAIN DELHI DAY</h2>
                    <h1>
                        <%=demo_date[0]%>
                    </h1>
                    <h2>01:30 PM | 03:00 PM</h2>
                </div>
                <div class="s4">
                    <h2>MAIN DELHI NIGHT</h2>
                    <h1>
                        <%=demo_date[2]%>
                    </h1>
                    <h2>08:50 PM | 10:30 PM</h2>
                </div>
                <div class="s5">
                    <h2>MAIN DELHI MORNING</h2>
                    <h1>
                        <%=demo_date[1]%>
                    </h1>
                    <h2>11:30 AM | 12:30 PM</h2>
                </div>
                <div class="s6">
                    <h2>KALYAN</h2>
                    <h1>
                        <%=demo_date[3]%>
                    </h1>
                    <h2>04:00 PM | 06:00 PM</h2>
                </div>
                <div class="s7">
                    <h2>मेन बाजार</h2>
                    <h1>
                        <%=demo_date[4]%>
                    </h1>
                    <h2>09:35 PM | 12:05 AM</h2>
                </div>
                <!-- <div class="borderboxblue">
                    <div class="s8">
                        <h2>चक्री बाजार</h2>
                        <h1></h1>
                        <h2>02:00 PM</h2>
                    </div>

                </div> -->
                <div class="borderboxblue">
                    <div class="s8">
                        <h2>MAIN DELHI DAY TEER</h2>

                        <h2>DF &nbsp; DS</h2>
                        <h1>
                            <%=demo_date[5]%>
                        </h1>
                        <h2>03:45 PM | 05:45 PM</h2>
                    </div>

                </div>
                <div class="borderboxblue">
                    <div class="s7">
                        <h2>MAIN DELHI NIGHT TEER</h2>
                        <h2>DF &nbsp; DS</h2>
                        <h1>
                            <%=night_teer%>
                        </h1>

                        <h2>08:50 PM | 10:50 PM</h2>
                    </div>

                </div>
            </div>

            <div class="borderboxblue" style="visibility: hidden; display: none;">
                <div class="col-md-12 clock">
                    <p class="BazarNumber">
                        <canvas id="canvas" width="400" height="400"> </canvas>
                    </p>
                    <div class="WatchCenter">
                        <label
                            id="ContentPlaceHolderPlainBody_ContentPlaceHolderMasterBody_LabelChakariBazarNumber1"></label>
                    </div>

                    <script>
                        var canvas = document.getElementById("canvas");
                        var ctx = canvas.getContext("2d");
                        var radius = canvas.height / 2;
                        ctx.translate(radius, radius);
                        radius = radius * 0.99; //1.90;
                        setInterval(drawClock, 300);

                        function drawClock() {
                            drawFace(ctx, radius);
                            drawNumbers(ctx, radius);
                            drawTime(ctx, radius);
                            drawJodi1(ctx, radius);
                            drawJodi2(ctx, radius);
                            drawJodi3(ctx, radius);
                        }

                        function drawFace(ctx, radius) {
                            var grad;
                            ctx.beginPath();
                            ctx.arc(0, 0, radius, 0, 2 * Math.PI);
                            ctx.fillStyle = "white";
                            ctx.fill();
                            grad = ctx.createRadialGradient(
                                0,
                                0,
                                radius * 0.95,
                                0,
                                0,
                                radius * 1.05
                            );
                            grad.addColorStop(0, "#333");
                            grad.addColorStop(0.5, "white");
                            grad.addColorStop(1, "#333");
                            ctx.strokeStyle = grad;
                            ctx.lineWidth = radius * 0.1;
                            // ctx.stroke();
                            ctx.beginPath();
                            ctx.arc(0, 0, radius * 0.1, 0, 3 * Math.PI);
                            ctx.fillStyle = "#333";
                            ctx.fill();
                        }

                        function drawNumbers(ctx, radius) {
                            var ang;
                            var num;
                            ctx.font = radius * 0.2 + "px arial";
                            ctx.textBaseline = "middle";
                            ctx.textAlign = "center";
                            for (num = 0; num < 10; num++) {
                                ang = (num * Math.PI) / 5;
                                ctx.rotate(ang);
                                ctx.translate(0, -radius * 0.68);
                                ctx.rotate(-ang);
                                ctx.fillText(num.toString(), 0, 0);

                                ctx.rotate(ang);
                                ctx.translate(0, radius * 0.68);
                                ctx.rotate(-ang);
                            }
                        }

                        function drawJodi1(ctx, radius) {
                            var ang;
                            var num;
                            ctx.font = radius * 0.12 + "px arial";
                            ctx.textBaseline = "middle";
                            ctx.textBaseline = "middle";
                            ctx.textAlign = "center";
                            var JODI1 = [
                                "05",
                                "16",
                                "27",
                                "38",
                                "49",
                                "50",
                                "61",
                                "72",
                                "83",
                                "94",
                            ];
                            for (num = 0; JODI1.length > num; num++) {
                                ang = (num * Math.PI) / 5;
                                ctx.rotate(ang);
                                ctx.translate(0, -radius * 0.5);
                                ctx.rotate(-ang);
                                ctx.fillStyle = "red";
                                ctx.fillText(JODI1[num].toString(), 0, 0);
                                ctx.rotate(ang);
                                ctx.translate(0, radius * 0.5);
                                ctx.rotate(-ang);
                            }
                        }

                        function drawJodi2(ctx, radius) {
                            var ang;
                            var num;
                            ctx.font = radius * 0.12 + "px arial";
                            ctx.textBaseline = "middle";
                            ctx.textAlign = "center";
                            var JODI2 = [
                                "00",
                                "11",
                                "22",
                                "33",
                                "44",
                                "55",
                                "66",
                                "77",
                                "88",
                                "99",
                            ];
                            for (num = 0; JODI2.length > num; num++) {
                                ang = (num * Math.PI) / 5;
                                ctx.rotate(ang);
                                ctx.translate(0, -radius * 0.85);
                                ctx.rotate(-ang);
                                ctx.fillStyle = "blue";
                                ctx.fillText(JODI2[num].toString(), 0, 0);
                                ctx.rotate(ang);
                                ctx.translate(0, radius * 0.85);
                                ctx.rotate(-ang);
                            }
                        }

                        function drawJodi3(ctx, radius) {
                            var ang;
                            var num;
                            ctx.font = radius * 0.12 + "px arial";
                            ctx.textBaseline = "middle";
                            ctx.textAlign = "center";
                            var JODI3 = [
                                "01",
                                "12",
                                "23",
                                "34",
                                "45",
                                "56",
                                "67",
                                "78",
                                "89",
                                "90",
                            ];
                            for (num = 0; JODI3.length > num; num++) {
                                ang = (num * Math.PI) / 5;
                                ctx.rotate(ang);
                                ctx.translate(0, -radius * 0.3);
                                ctx.rotate(-ang);
                                ctx.fillStyle = "#17b794";
                                ctx.fillText(JODI3[num].toString(), 0, 0);
                                ctx.rotate(ang);
                                ctx.translate(0, radius * 0.3);
                                ctx.rotate(-ang);
                            }
                        }

                        function drawTime(ctx, radius) {
                            var now = new Date();
                            var hour = now.getHours();
                            var minute = now.getMinutes();
                            var second = now.getSeconds();
                            //hour
                            hour = hour % 12;
                            hour =
                                (hour * Math.PI) / 6 +
                                (minute * Math.PI) / (6 * 60) +
                                (second * Math.PI) / (360 * 60);
                            // drawHand(ctx, hour, radius*0.5, radius*0.07);
                            //minute
                            //minute=(minute*Math.PI/30)+(second*Math.PI/(30*60));
                            // drawHand(ctx, minute, radius*0.8, radius*0.07);
                            // second
                            second = (second * Math.PI) / 5;
                            drawHand(ctx, second, radius * 0.55, radius * 0.04);
                        }

                        function drawHand(ctx, pos, length, width) {
                            ctx.beginPath();
                            ctx.lineWidth = width;
                            ctx.lineCap = "round";
                            ctx.moveTo(0, 0);
                            ctx.rotate(pos);
                            ctx.lineTo(0, -length);
                            ctx.stroke();
                            ctx.rotate(-pos);
                        }
                    </script>
                    <p></p>
                </div>
            </div>

            <div class="s11">
                <div class="m15"
                    style="border: 1px solid grey; margin-top: 20px; margin-left: 15px; margin-right: 15px; margin-bottom: 15px; background-color:#f6f7fb;">
                    <div class="s9">
                        <h3>MATKA PANEL CHART RECORD ZONE</h3>
                    </div>
                    <div class="s10">

                        <a href="/day">
                            <p>MAIN DELHI DAY PANEL CHART </p>
                        </a>
                        <a href="/night">
                            <p>MAIN DELHI NIGHT PANEL CHART </p>
                        </a>
                        <a href="/morning">
                            <p>MAIN DELHI MORNING PANEL CHART </p>
                        </a>
                        <a href="/kalyan">
                            <p>KALYAN PANEL CHART</p>
                        </a>
                        <a href="/bajar">
                            <p>मेन बाजार PANEL CHART </p>
                        </a>
                        <!-- <a href="/chakri">
                            <p>चक्री बाजार PANEL CHART </p>
                        </a> -->
                        <a  href="/teer_panel">
                            <p>MAIN DELHI TEER PANEL CHART </p>
                        </a>

                    </div>
                </div>
            </div>
            <!-- <div class="m3"
                style="border: 1px solid white; width: 1135px; margin-left: 64px; height: 40px; background-color: white;">

            </div> -->
            <div class="s12" style="margin-top: 0px;">
                <div>
                    <p class="BazarOfferText1">चॅम्पियन डेली लाइन</p> href="/teer_panel"
                    <!-- <img src="/pictures/MiddleOffer.jpg" alt="" style="width: 349.95px; height: 560px; "> -->
                </div>
                <div>
                    <p class="BazarOfferText1">चेन्नई नाईट - सिर्फ खीलाडीओ के लिये</p>
                    <!-- <img src="/pictures/MiddleOffer.jpg" alt="" style="width: 349.95px; height: 560px; "> -->
                </div>
                <div>
                    <p class="BazarOfferText1">चेन्नई डे - किस्मत कि लकीर</p>
                    <!-- <img src="/pictures/MiddleOffer.jpg" alt="" style="width: 349.95px; height: 560px; "> -->
                </div>



            </div>


        </div>
        <!-- <div class="borderboxbluedis"> -->
        <!-- <div class="m5" style="border: 1px solid black;"></div>   -->
        <div class="s13" style="width: 88%; margin-top: -1px;margin-left: 55px;">
            <div class="m1"
                style=" margin-top: 40px;width: 100%; margin-left: -14px; margin-right: -14px; border-radius: 5px;">
                <div class="m11"
                    style="border: 1px solid grey; height: 10%; margin-left: 20px; margin-top: -27px;margin-bottom: 20px; background-color: rgb(236, 231, 231);">
                    <h3>DISCLAIMER</h3>
                    <p style="font-size: 1.4vw">
                        Viewing This WebSite Is On Your Own Risk. All The information Shown Here
                        Is Sponsored And We Warn You That Satta Matka Gambling in Your Country
                        May be Banned or Illegal.. We Are Not Responsible For Any Issues or
                        Scam..We Respect All Country Rules/Laws.. If You Not Agree With Our Site
                        Disclaimer.. Please Quit Our Site Right Now.
                    </p>
                </div>
            </div>



        </div>
        <div class="copyright">
            Copyright
            <a style="color: yellow;" href="#">@maindelhimataka.com</a>
        </div>

    </div>
    </div>

</body>

<script>
    $(document).ready(function () {
        jQuery.get('/users/Night_Teer',
            function (result, status, jqXHR) {
                console.log('asdflkaskdfks', result);
                document.getElementById("night_Teer").innerHTML = result
            }
        );
    });

</script>

</html>